In [1]:
import pandas as pd

In [2]:
data_file="Shelter_years.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,0,Shelter Name,Year_OpStart,Beds,Unnamed: 4,1967,1968,1969,1970,1971,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,The Sanctuary,1983.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2,Hamilton Families |Shelter,2001.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,Hospitality House Shelter,1967.0,25.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,4,La Casa de las Madres,1976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,5,Navigation Center,2015.0,939.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
data_file_df.loc["2011"]

KeyboardInterrupt